<p class="caption"><i class="fa fa-file-audio-o"></i> {{entity.title}}</p>
<div class="player">
    <audio controls>
        <!-- Audio files -->
        <source src="{{ asset('audio/' ~ entity.audio) }}" type="audio/mp3">
        <a href="{{ asset('audio/' ~ entity.audio) }}">{{'Download'|trans}}</a>
    </audio>
</div>