{% extends 'AppBundle:Default:layout_admin.html.twig' %}
{% block admin_content -%}

    <h4>{{'Woman creation'|trans}}</h4>
    {{ form(form, {'attr': {'class': 'admin-form out-modal'}} ) }}

{% endblock %}
{% block javascripts %}
{% endblock %} 