{% extends 'AppBundle:Default:layout_admin.html.twig' %}
{% block admin_content -%}

    <h4>{{category.getName~' creation'|trans}}</h4>
    {{ form(form, {'attr': {'class': 'admin-form', 'data-place' : 'out-modal'}} ) }}

{% endblock %}
{% block javascripts %}
{% endblock %} 