<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/cdv.css')}}" />
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        {% endblock %}
        {% block commonjs %}
            <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="{{ asset('scripts/cdv.js')}}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>

</html>
