
    <header class="main-common-header">
        <div class="main-nav" id="navigation">
            <div class="container">
                <a href="{{path('_index')}}" class="nav-bar-info show">
                    <img src="{{ asset('images/logo_xs.png')}}" alt="Logo Carcel de Ventas">
                    <span>Carcel de Ventas</span>
                </a>
                <nav role="navigation">
                    <i class="fa fa-bars menu-icon"></i>
                        <span class="menu-wrapper">
                            <a href="">HISTORIA</a>
                            <a href="{{path('_testimonial')}}">TESTIMONIOS</a>
                            <a href="{{path('_table_data')}}">LISTADOS</a>
                            <a href="">VARIOS</a>
                        </span>
                </nav>
            </div>
        </nav>
    </header>
