
    <header class="main-header">
        <div class="container title">
            <img  class="hr-image animated hide" src="{{ asset('images/logo_w_min.png')}}" alt="Logo Carcel de Ventas">
            <div class="text-title">
                <h1>Cárcel de Ventas</h1>
                <p>Madrid, 1904-1976</p>
            </div>  
        </div>
        <div class="main-nav" id="navigation">
            <div class="container">
                <a href="#" class="nav-bar-info">
                    <img src="{{ asset('images/logo_xs.png')}}" alt="Logo Carcel de Ventas">
                    <span>Carcel de Ventas</span>
                </a>
                <nav role="navigation">
                    <i class="fa fa-bars menu-icon"></i>
                        <span class="menu-wrapper">
                            <a href="">HISTORIA</a>
                            <a href="{{path('app_testimonial_index')}}">TESTIMONIOS</a>
                            <a href="{{path('list')}}">LISTADOS</a>
                            <a href="">VARIOS</a>
                        </span>
                </nav>
            </div>
        </nav>
    </header>
