
    <header class="main-header">
        <div class="parallax-window" data-parallax="scroll" data-image-src="{{asset('images/back.jpg')}}">
            <div class="title">
                <div class="container header-main-group">
                    <img  class="hr-image animated hide" src="{{ asset('images/logo_w_min.png')}}" alt="Logo Carcel de Ventas">
                    <div class="text-group">
                        <h1>Cárcel de Ventas</h1>
                        <span>Madrid, 1936-1969</span>
                    </div>
                </div>
                <a href="#" data-next="blockquote-index" class="next" role="navigation"><span><i class="fa fa-angle-double-down"></i></span></a>
            </div>
        </div>
        {% include ':Default:navigation.html.twig' %}
    </header>
