{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
    <header>
        <div class="container title">
            <h1 class="animated hidden">Carcel de Ventas</h1>           
        </div>
        <nav class="main-nav">
            <div class="container">
                <ul>
                    <li><a href="">HISTORIA</a></li>
                    <li><a href="">TESTIMONIOS</a></li>
                    <li><a href="">LISTADOS</a></li>
                    <li><a href="">VARIOS</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    <div class="container">
        <div class="row">
            <main class="eight columns test" style="color:white;">
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
            </main>
            <aside class="four columns test" style="background:red;">
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
            </aside>
        </div>
        <div class="row">
            <footer class="twelve columns" style="background:black;height:80px;color:white;">FOOTER</footer>
        </div>
    </div>
{% endblock %}
