{% extends 'base.html.twig' %}

{% block body %}
{% include 'default/header.html.twig' %}
    <div class="main container">
        <div class="row">
            <main class="eight columns" style="color:white;height:1500px;">
{#                 <div class="twelve columns" style="background:blue;">Linea Uno</div>
                <div class="twelve columns" style="background:blue;">Linea Uno</div>
                <div class="twelve columns" style="background:blue;">Linea Uno</div>
                <div class="twelve columns" style="background:blue;">Linea Uno</div> #}
            </main>
            <aside class="four columns" style="background:red;">
{#                 <div class="twelve columns" style="background:pink;">Linea Uno</div>
                <div class="twelve columns" style="background:pink;">Linea Uno</div>
                <div class="twelve columns" style="background:pink;">Linea Uno</div>
                <div class="twelve columns" style="background:pink;">Linea Uno</div> #}
            </aside>
        </div>
    </div>

{% include 'default/footer.html.twig'%}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/waypoints/lib/jquery.waypoints.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/waypoints/lib/shortcuts/sticky.min.js')}}"></script>
{% endblock %}

