{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
    <header>
        <div class="container">
            <h1>Carcel de Ventas</h1>            
        </div>
    </header>
    {% endblock %}
    <div class="container">
        <div class="row">
            <main class="eight columns test" style="color:white;">
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
                <div class="twelve columns test" style="background:blue;">Linea Uno</div>
            </main>
            <aside class="four columns test" style="background:red;">
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
                <div class="twelve columns test" style="background:pink;">Linea Uno</div>
            </aside>
        </div>
        <div class="row">
            <footer class="twelve columns" style="background:black;height:80px;color:white;">FOOTER</footer>
        </div>
    </div>
{% endblock %}
