{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{ "Image creation"|trans }}</h1>

    {{ form(form, {'attr': {'class': 'admin-form out-modal', 'data-place' : 'out-modal'}} ) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('image') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
