{% extends 'AppBundle:default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>Gallery edit</h1>

    {{ form(edit_form, {'attr': {'class': 'admin-form'}} ) }}
    {{ form(delete_form) }}
{% endblock %}
