{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h4>{{'Gallery creation'|trans}}</h4>

    {{ form(form, {'attr': {'class': 'admin-form'}} ) }}

{% endblock %}
