{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h4>{{'Gallery creation'|trans}}</h4>

    {{ form(form, {'attr': {'class': 'admin-form'}} ) }}
{#	    <p>{{'Insert this code wherever you want it be displayed'|trans}} :</p>
	    <p class="snippet">**insert.gallery.<span id="display"></span>**</p>

<script type="text/javascript">
	$('input[type=text]').keyup(function () {
		var snippet = $(this).val();
	  $('#display').text(snippet);
	});

	//Esto es una prueba para cuando haya un listado de assets en la columna de la derecha, al pulsar sobre alguno de ellos, que tendrá un (por ejemplo) data-add-media=insert.gallery.id se añadirá al textarea de crear nuevo testimonio

$("#add").click(function(){
      $('textarea').val($('textarea').val()+'new content');
  });

</script>
#}
{% endblock %}
