{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
<ul>
    {% for entity in entities %}
        <li>
            {{ entity.name }}
        </li>
    {% endfor %}
</ul>
{% endblock %}