{% extends 'base.html.twig' %}
{% block moreJavascripts %}
    <script src="{{asset('scripts/parallax.min.js')}}"></script>
{% endblock %}
{% block header %}
    {% include ':Default:header_index.html.twig' %}
{% endblock %}
{% block body %}
<main class="main main-index">
    <section class="blockquote-index">
        <article class="container">
            <h2>La cárcel de Ventas</h2>
            <blockquote class="container">La cárcel de Ventas(1931-1969) fue la prisión femenina más poblada de la historia de España. Concebida originariamente como "Prisión Modelo" para mujeres por Victoria Kent - dentro del nuevo proyecto penalista de la Segunda República- en 1939 acabó convirtiéndose, con el triunfo franquista, en todo lo contrario: un gigantesco "almacén de reclusas" en el que mujeres y niños se hacinaron en las peores condiciones imaginables.</blockquote>
        </article>
        <a href="#" data-next="figure" class="next invert" role="navigation"><span><i class="fa fa-angle-double-down"></i></span></a>
    </section>
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{asset('images/back2.jpg')}}">
        <section class="figure">
            <article class="container">
                <h2>Memorias</h2>
                <p>Nada queda hoy del antiguo edificio de Ventas, donde actualmente se levanta un inmueble de viviendas y un parque municipal. Pero fue la comunidad de presas políticas que se organizó dentro de la cárcel, procedentes de todos los rincones de España, la que nos ha permitido reconstruir su historia con la ayuda de sus recuerdos, su memoria. A todas aquellas mujeres está dedicada esta web, como una muestra más del patrimonio democrático de la sociedad española en la resistencia contra la dictadura franquista.</p>
            </article>
            <a href="#" data-next="last-block" class="next" role="navigation"><span><i class="fa fa-angle-double-down"></i></span></a>
        </section>
    </div> 
    <section class="blockquote-index last-block">
        <article class="container">
            <h2>Participación</h2>
            <blockquote class="container">Con una selección de testimonios femeninos como eje central, esta web reúne diversa información textual, visual y oral de lo que fue y significó la prisión de Ventas. Son muchas las personas cuyos familiares -madres, abuelas- pasaron en algún que otro momento por Ventas. A ellas está dirigido principalmente este proyecto, para que lo enriquezcan con su colaboración y sus informaciones. Porque lo que significó Ventas es, o debería ser, patrimonio de todos y de todas: de los familiares de las mujeres encarceladas, pero también de los vecinos y vecinas de Madrid, así como de la sociedad española en su conjunto.</blockquote>
        </article>
        <a href="#" data-next="main-header" class="next invert" role="navigation"><span><i class="fa fa-angle-double-up"></i></span></a>
    </section>
</main>
{% endblock %}
{% block javascripts %}{% endblock %}

