{% extends 'base.html.twig' %}
{% block header %}
    {% include ':Default:header_index.html.twig' %}
{% endblock %}
{% block body %}

    <div class="main container">
        <div class="row">
            <main class="eight columns">

            </main>
            <aside class="four columns">

            </aside>
        </div>
    </div>



{% endblock %}
{% block javascripts %}{% endblock %}

