{% extends '::base.html.twig' %}
	{% block header %}{% endblock %}
		{% block body -%}
			<div class="admin-layout">
				{% block menu %}
					{% include 'AppBundle:Default:menu-admin.html.twig'%}
				{% endblock %}
				<div class="container main-admin">
					<div class="row">
					{% block admin_content %}{% endblock %}					
					</div>
				</div>
			</div>
		{% endblock %}
	{% block footer %}{% endblock %}
	{% block commonJavascripts %}
		<script type="text/javascript">
				$('ul.nav-tabs li a').on('click', function(){
					$('ul.nav-tabs li ').removeClass('active');
					$(this).parent('li').addClass('active');
					var tabContent = $(this).data('target');
					$('.tab-pane').removeClass('active');
					$(tabContent).addClass('active');
				});
			    $('.wrapper-dropdown').on('click', function(event){
			        $(this).toggleClass('active');
		            event.stopPropagation();
		        }); 
		</script>
	{% endblock %}
{% block javascripts %}   {{ tinymce_init() }}{% endblock %}