{% extends 'base.html.twig' %}

{% block body %}
    <div class="main container">
        <div class="row">
            <main class="twelve columns" style="height:1500px;">
                <h2>Testimoniooooooossss</h2>
            </main>
            <aside class="twelve columns">
                <h3>Otras coooooosaaassss</h3>
            </aside>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/waypoints/lib/jquery.waypoints.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/waypoints/lib/shortcuts/sticky.min.js')}}"></script>
{% endblock %}

